ul{
    list-style: none;
    padding-left: 0;
}

li{
    margin-bottom: 10px;   
}

.bg-bluegradient {
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  }

  .weather-hr {
    height:1px;
    border-width:0;
    color:rgb(194, 189, 189);
    background-color:rgb(194, 189, 189);
  }

  #search-input{
    border-width:3px;
    border-color:gray;
  }
