ul{
    list-style: none;
    padding-left: 0;
}

li{
    margin-bottom: 10px;   
}

.bg-bluegradient {
    background-image: linear-gradient(90deg, lightblue 0%, blue 35%, #020024 100%);
}

.card-body{
    background-color: lightblue;
}

.weather-hr {
    height:1px;
    border-width:0;
    color:rgb(194, 189, 189);
    background-color:rgb(194, 189, 189);
}

.forecastsBlock{
    display: flex;
    align-items: center;
    justify-content: center;

}

.forecasts-body{
    width: 100%;
    padding: 0;
}

#search-input{
    border-width:3px;
    border-color:gray;
}
